body {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.page_title {
	background-color: rgba(2, 71, 0, 0.8);
	padding: 5px;
}

.page_title_header {
	color: #FFFFFF;
}

.page_title_image {
	float: right;
}

.two_column_content_one {
	width: 70%;
	float: left;
}

.two_column_content_one p {
	color: #717a71;
	line-height: 200%;
	margin: 10px;
}

.two_column_content_two {
	width: 20%;
	float: left;
	margin-left: 40px;
}

.two_column_content_two h3 {
	background-color: rgba(2, 71, 0, 0.8);
	padding: 4px;
	color: #FFFFFF;
	text-align: center;
}



#post {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.c-form {
	margin-top: 5%;
	margin-left: 5%;
}

.horizontal {
	margin-right: 5px;
}

.side-content {
	float: right;
	margin-right: 5%;
	margin-top: 30px;
}

.main-content {
	float: left;
}

.image-label {
	position: absolute;
	top: 330px;
	left: 20px;
	z-index: 10;
}

.image-label a {
	font-size: 25px;
	background-color: green;
	border-radius: 3px;
	padding: 3px;
	color: #f01d1d;
}

.image-label {
	color: green;
}